.photo-grid {
  display: grid;
  max-width: 1184px;
  width: 100%;
  grid-template-columns: repeat(4 , auto);
  gap: 16px;
  grid-auto-flow: row;
  margin: 0px auto;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    grid-template-columns: repeat(3 , auto);
    max-width: calc(928px + (1184 - 928) * ((100% - 1025px) / (1152 - 1025)));
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    grid-template-columns: repeat(2 , auto);
    max-width: calc(720px + (928 - 720) * ((100% - 769px) / (896 - 769)));
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: repeat(1 , auto);
    max-width: calc(288px + (720 - 288) * ((100% - 319px) / (544 - 319)));
    gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
  }
}

@media screen and (max-width: 319px) {
  .photo-grid {
    gap: 12px;
  }
}
