.content {
  display: grid;
  grid-template-columns:repeat(auto-fit, 1fr);
  grid-auto-flow: row;
  align-items: center;
  width: 100%;
  grid-row-gap: 92px;
  margin: 0px auto;
  padding: 0px;
}

@media screen and (max-width: 896px) {
  .content {
    grid-row-gap: 88px;
   }
}

@media screen and (max-width: 544px) {
  .content {
    grid-row-gap: 66px;
   }
}
