.content {
  display: grid;
  grid-row-gap: 92px;
  padding-top: 56px;
}

@media screen and (max-width: 1152px) {
  .content {
    padding-top: 48px;
  }
}

@media screen and (max-width: 896px) {
}

@media screen and (max-width: 425px) {

}
