.place__paragraph {
  display: flex;
  color: #fff;
  width: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0px 0px 26px;
  padding: 0px;
  box-sizing: border-box;
}

.place__paragraph:last-of-type {
  margin: 0px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: calc(16px + (18 - 16) * ((100vw - 769px) / (1024 - 769)));
    line-height: calc(26.08px + (29.34 - 26.08) * ((100vw - 769px) / (1024 - 769)));
    margin: 0px 0px 27px;
  }

  .place__paragraph:last-of-type {
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin: 0px 0px 25px;
    padding-left: calc(16px + (0 - 16) * ((100% - 321px) / (768 - 321)));
  }

  .place__paragraph:last-of-type {
    margin: 0px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding-left: 16px;
  }
}

