.lead__image {
  display: flex;
  max-width: 984px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    padding-top: calc(56px + (64 - 56) * ((100% - 928px) / (984 - 928)));
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width:  767px) {
  .lead__image {
    padding-top: calc(40px + (56 - 40) * ((100% - 321px) / ( 767 - 321)));
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    padding-top: 40px;
  }
}
