.intro__text {
  display: flex;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0px;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 33px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    line-height: calc(26px + (26 - 26.08)*((100vw - 319)/(767 - 319)));
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    line-height: 26px;
  }
}
