.place__website-link {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
