.place__website-link {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  transition: opacity 0.6s ease-in-out;
}

.place__website-link:hover  {
  opacity: 80%;
  transition: opacity 0.6s ease-in-out;
}
