.intro {
  display: flex;
  flex-direction: column;
  text-align: start;
  max-width: 690px;
  margin: 0px;
  padding: 0px;
  padding-left: 148px;
  align-self: flex-start;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .intro {
    padding-left: calc(48px + (148 - 48) * ((100% - 1025px) / (1279 - 1025)));
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .intro {
    max-width: calc(720px + (690 - 720) * ( (100% - 769px) / (1023 - 769)));
    padding-left: calc(24px + (48 - 24) * ( (100% - 769px) / (1023 - 769)));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
  }
}
