.lead__caption {
  display: grid;
  justify-self: start;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: max-content;
  max-height: 14px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin: 0px;
  padding: 0px;
  padding-top: 8px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
