.place__website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 740px){
  .place__website {
    padding-left: calc(16px + (0 - 16) * ((100% - 321px) / (740 - 321)));
  }
}

@media screen and (max-width: 320px){
  .place__website {
    padding-left: 16px;
  }
}

